* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaCove Nerd font;
  font-weight: bold;
  font-size: 14px;
  padding: 0;
}

window#waybar {
	background: rgb(29, 32, 33);
  border-radius: 6px;
  border: 2px solid rgba(29, 32, 33, 0.5);
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  margin: 8px 0px;
  margin-left: 12px;
  color: #7c6f64;
}

#workspaces button.focused {
  color: #d4be98;
}

#workspaces button.urgent {
  background-color: #e78a4e;
}

#battery,
#backlight,
#network,
#clock,
#tray,
#temperature,
#pulseaudio {
  margin: 4px 0px;
  margin-right: 12px;
  background-color: transparent;
  color: #d4be98;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #e78a4e;
  animation-direction: alternate;
  background-color: transparent;
}
#battery.charging {
  color: #a9b665;
  background-color: transparent;
}

tooltip {
  padding: 15px;
  background-color: #1d2021;
  border-radius: 6px;
  color: #d4be98;
  border: 2px solid #282828;
}